$primary-color: #1473e2;
$body-color: #414840;

@use "bulma/sass/utilities"
  with($family-primary: "'Inter',sans-serif", $primary: $primary-color);

@forward "bulma/sass/themes";
@forward "bulma/sass/base";
@forward "bulma/sass/components/navbar";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/elements/button";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.burger-menu {
  --bulma-navbar-burger-color: brown;
}
